ORT = 8080
DB_HOST = "localhost"
DB_USERNAME = "root"
DB_PASSWORD = ""
DB_NAME = "spera_labs"
USER_TOKEN_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6InNwZXJhLWxhYnMiLCJpYXQiOjE1MTYyMzkwMjJ9.fy6KKNyV3OMSdMf2QuqYjS9H3IvIu36ZBGLKWp-uczU"
COIN_GECKO_ENDPOINT = "https://api.coingecko.com/api/v3"
COIN_GECKO_KEY = "CG-wKfLJ431YU7gDVofbXtV2cR5"